.container {
    display: grid;
    grid-template-columns: 1fr min(960px, 90%) 1fr;
    grid-template-rows: 72px minmax(calc(100vh - 144px), auto) 72px;
  }
  
  .container > * {
    grid-column: 2;
  }

  .blogsContainer > *:not(:last-child) {
    margin-bottom: 16px;
  }

  .loadingWrapper{
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .ldsring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ldsring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: ldsring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .ldsring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .ldsring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .ldsring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes ldsring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .errorWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  